:root {
  --green: #008000;
  --white: white;
  --black: #222;
  --font-family: Arial, sans-serif;
  --font-size: 1rem;
  --margin: 1rem;
  --padding: 1rem;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  --font-size: 1.2rem;

min-width: 60%;
  padding: var(--padding);
  margin: auto;
  font-size: var(--font-size);
}

.container .main-title {
  --font-size: 1.8rem;

  color: var(--green);
  font-size: var(--font-size);
}

.html-form {
  margin: var(--margin) 0;
}

.form {
  padding: var(--padding);
  width: 100%;
}

.form-element {
  margin: calc(var(--margin) * 1.6) 0;
}

.form-element label {
  display: block;
}

.form-element input {
  width: 60%;
  overflow: hidden;
  padding: 5px var(--padding);
  font-size: var(--font-size);
  border-radius: 5px;
  outline: none;
  border: 2px solid var(--black);
  transition: width 0.5s ease-in-out;
}

.form-element input:focus {
  width: 100%;
  border-color: var(--green);
}

.submit-btn {
  padding: 10px var(--padding);
  border: none;
  background-color: var(--green);
  color: var(--white);
  width: max-content;
  font-size: var(--font-size);
  font-family: var(--font-family);
}

.table{
  margin-top: 0.5rem;
}
.table,tr,td,th{
  border: 1px solid black;
  border-collapse: collapse;
}

td,th{
  padding: 8px 10px;
}

.table th{
  background: darkblue;
  color: white;
}

.table tr:nth-child(odd){
  background-color: lightgray;
}

.table tr:nth-child(even){
  background-color: white;
}

.examples{
  margin: 1rem 0;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
}

.examples-example{
  background-color: lightblue;
  padding: 1rem;
}

.examples-example h3{
  color: green;
}

.examples-example input{
  padding: 5px 17px;
  outline: none;
  margin-top: 10px;
  margin-right: 10px;
}

.form input[type="submit"]{
  padding: 5px 16px;
  border: none;
  background-color: green;
  color: white;
  font-size: 1.2rem;
  margin-top: 0.4rem;
}