*,::before,::after{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* .container*/
.container{
    max-width: 80%;
    margin: auto;
    padding: 1rem;
}

.container h1{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.container p{
    line-height: 1.6;
    font-size: 1.2rem;
}

.images-gallery img{
    margin-top: 1rem;
    width: calc(33% - calc(3*1rem));
    margin-right: 10px;
    height: 100%;
    object-fit: cover;
    transition: scale 1s ease-in-out;
}

.img-mouseover{
    scale:1.1;
    transition: scale 0.5s ease-in-out;
}

.img-mouseleave{
    scale:0.8;
    transition: scale 0.5s ease-in-out;
}
