/* Global */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
}

p {
  line-height: 1.6;
}
/* Navbar */
.navbar {
  background-color: #222;
}

.navbar__fragment {
  max-width: 80%;
  margin: 0 auto;
}

.navbar__nav {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.navbar__nav__link {
  text-decoration: none;
  cursor: pointer;
  color: white;
  padding: 1rem;
  flex: auto;
}



a i {
  color: inherit;
}

/* Layout */
.main {
  padding: 1rem;
}

/* Links Layout*/
.section{
  margin: 1rem 0;
  padding: 1rem;
  background: lightgray;
}

.section h1{
  color: darkblue;
  font-weight: 500;
  margin-bottom: 1rem;
}

.grid{
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 0.5rem;
}

.grid-item {
  width: 100%;
  text-align: center;
  display: block;
  padding: 1rem;
  background: white;
  border-radius: 5px;
}

.red{
  background-color: red;
}

.yellow{
  background-color: yellow ;
}

.green,.isActiveLink{
  background-color: green;
}

.blue{
  background-color: blue;
}

/* Link Color */
a:link{
  text-decoration: none;
  color: orangered;
}

a:visited{
  text-decoration: none;
  color: blueviolet;
}

a:hover {
  color: red;
  font-weight: 600;
}

a:active{
  color: green;
}

